@import 'tailwindcss';
@theme {
  --color-primary-light: #eeecfb;
  --color-primary-light-hover: #e5e3f9;
  --color-primary-light-active: #cac4f4;
  --color-primary-normal: #5442da;
  --color-primary-normal-hover: #4c3bc4;
  --color-primary-normal-active: #4335ae;
  --color-primary-dark: #3f32a4;
  --color-primary-dark-hover: #322883;
  --color-primary-dark-active: #261e62;
  --color-primary-darkest: #1d174c;
}
